---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

import "../styles/global.css";
const pageTitle = "About";

const identity = {
  firstName: "Kamil",
  lastName: "Kaźmierczak",
  country: "Poland",
  occupation: "Web Developer",
  hobbies: ["fishing", "games", "motorsport"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Python",
  "Django",
  "PHP",
  "Wordpress",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";
---
<BaseLayout>
  <PageLayout pageTitle = {pageTitle}>
    <p>Few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName} {identity.lastName}</li>
      <li>
        I live in {identity.country} and I work as {identity.occupation}.
      </li>
      <li>My hobbies are:</li>
      {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>Im happy !</p>}
    {finished && <p>I finished this tutorial !</p>}
    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days</p>
      ) : (
        <p>My goal is not 3 days</p>
      )
    }
  </PageLayout>
</BaseLayout>

<style define:vars={{ skillColor }}>
  h1 {
    font-size: 1.5rem;
    color: purple;
  }
  .skill {
    font-size: 1rem;
    color: var(--skillColor);
    font-weight: 600;
  }
</style>
