---
const {url,author,imageUrl,imageAlt,pubDate,title,description} = Astro.props;
---
<a href={url}>
  <img src={imageUrl} alt={imageAlt}>
  <div class="post__info">
    <span>{author}</span>
    <span>{pubDate.toString().slice(0,10)}</span>
  </div>
  <h2>{title}</h2>
  <p>{description}</p>
</a>

<style>
  .post__info{
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color:#aaa
  }
  img{
    width: 100%;
  }
</style>